.card-btn {
  /* border-radius: 50%; */
  height: auto;
  width: auto;
  border: none;
  bottom: 1px;
  /* color: #000; */
  font-size: 30px;
  cursor: pointer;
  font-family: FontAwesome;
}

.card-btn:hover {
  box-shadow: none;
}

.unliked, .liked {
  position: absolute;
  left: 1%;
  bottom: 2%;
}

/* .fa-heart::after {
  content: "\f004";
} */

/* .unsaved, .saved {
  position: absolute;
  right: 1%;
  bottom: 1%;
} */

/* .fa-bookmark::after {
  content: "\f02e";
} */


.true {
  color: #ffe4e1;
}

.false {
  color: #cccccc;
}

/* .unliked, .unsaved {
  color: gray;
} */



/* .heartBtn:hover::after, .bookmarkBtn:hover::after {
  animation: iconBounce .57s 1;
}

@keyframes iconBounce {
  0% {
    font-size: 24px;
  }
  
   50% {
    font-size: 28px;
  }
  
  100% {
    font-size: 24px;
  }

} */