.bgImage {
    background-image: url("../../imgs/resize.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: auto;
    overflow: auto;
    min-height:700px;
}
.searchbtn {
  background-color: #fad185;
}

.savedbtn {
  background-color: (224,155,106);
}

.searchForm {
    margin-top: 80px;
    margin-left: 175px;
    width: 250px;
}

/* #searchForm {
    margin-top: 50px;
    margin-left: -5px;
    width: 250px;

} */

.savedForm {
    margin-left: 175px;
    margin-top: 30px;
    width: 250px;
}

button {
    border-radius: 3px;
    width: 100%;
    padding: 10px 35px;  
    overflow:hidden;
    border: 2px solid #fad185;
}

button:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.15);
}

button:disabled {
    background-color: #fff2da;
    box-shadow: none;
  }


.savedbtn:before {
	font-family: FontAwesome;
	/* content:">>"; */
	/* position: absolute; */
	top: 11px;
	left: -50px;
	transition: all 200ms ease;
}

button:hover:before {
	left: 7px;
}

.fa-utensils {
    opacity: 0.75;
    color: black;
    padding: 5px;
    opacity: .7;
}

.fa-utensils:hover {
    /* opacity: 1; */
    font-size: 20px;
    transition: all 200ms ease;
    
    
}


.resultsWrapper {
    height: 450px;
    overflow: scroll;
    padding: 20px;
    margin-top: 50px;

}

h1{
        font-family: 'EB Garamond', serif;
        font-size: 30px;
        font-weight: bolder;
        text-align: center; 
        margin: auto; 
        color:black;
    }
/* .header{
    margin-top: 50px;
    opacity: .8;
    background-color: rgb(156, 199, 112);
    border-radius: 25px;
    width: 275px;
} */

.results{
    margin-left: 150px;
    margin-top: 50px;
    opacity: .8;
    background-color: rgb(156, 199, 112);
    border-radius: 25px;
    width: 300px;
}
#warning{
    font-family: FontAwesome;
    font-size: 50px;
    font-weight: bolder;
    text-align: center; 
    margin-top: 250px; 
    color:black;
}