.toggle-content {
	display: none;
}

.is-visible {
    display: block;
}

#closeModal {
    color: white;
}

.modal-dialog {
    display: block;
    text-align: left;
    margin-left: 50px;
    /* margin-bottom: 1000px; */
}

#edamamModal {
    border-radius: 3px;	  
    width: 100%;
    height: auto;	   
    padding: 10px 35px;  	   
    /* overflow:hidden;	     */
    font-family: fa5-proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 2px solid #fad185;	   
    border: none;
    color: #ffffff;
}